## Welcome to Day 1 Introduction to Python Programming

In [ ]:
name=input()
print(name)

John
John

In [ ]:
name=input("Enter the Name : ")
print("Name :  ", name)

Enter the Name : Vimal
Name :   Vimal

In [ ]:
internal_mark = int(input("Enter Internal Mark : "))
external_mark = int(input("Enter Internal Mark : "))
tot_mark = internal_mark + external_mark 
print("Total Mark :  ",tot_mark)

Enter Internal Mark : 43
Enter Internal Mark : 34
Total Mark :   77

In [ ]:
x = 34 - 23        
y = "Hello"
z = 3.45    
if z == 3.45 or y == "Hello":
     x = x + 1
     y = y + " World"
print(x)
print(y)

12
Hello World

In [ ]:
x = int(input("Please enter #:"))
if x < 0:
    x = 0
    print("Negative changed to zero")
elif x == 0:
    print("Zero")
elif x == 1:
    print("Single")
else:
    print("More")

Please enter #:0
Zero

In [ ]:
import math
x=1
while x<=10:
     print(x, "    ", math.sqrt(x))
     x=x+1

1      1.0
2      1.4142135623730951
3      1.7320508075688772
4      2.0
5      2.23606797749979
6      2.449489742783178
7      2.6457513110645907
8      2.8284271247461903
9      3.0
10      3.1622776601683795

In [ ]:
for value in range(1,6):
    print(value)

1
2
3
4
5

In [ ]:
for value in range(1,6,2):
    print(value)

1
3
5

In [ ]:
for value in range(6,1,-2):
    print(value)

6
4
2

In [ ]:
for ch in "Progressioalas":
    print(ch.upper())

P
R
O
G
R
E
S
S
I
O
A
L
A
S

In [ ]:
for ch in "Progressioalas":
    print(ch.upper(),end='')

P,R,O,G,R,E,S,S,I,O,A,L,A,S,

In [ ]:
managers=['Singh', 'Vivid Paul','Divya Kotal','Harshit']
for element in managers:
	print(element," - ", len(element))

Singh  -  5
Vivid Paul  -  10
Divya Kotal  -  11
Harshit  -  7

In [ ]:
# empty list
my_list1 = []

# list of integers
my_list2 = [1, 2, 3]

# list with mixed data types
my_list3 = [1, "Hello", 3.4]

In [ ]:
for x in my_list3:
    print(x)

1
Hello
3.4

In [ ]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3

1
2
3

In [ ]:
# prints out 1,2,3
for x in mylist:
    print(x)

1
2
3

In [ ]:
my_list = ['p','y','t','h','o','n','p','r','o']

# elements 3rd to 5th
print(my_list[2:5])

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['t', 'h', 'o']
['p', 'y', 't', 'h']
['n', 'p', 'r', 'o']
['p', 'y', 't', 'h', 'o', 'n', 'p', 'r', 'o']

In [ ]:
str="liril"
rev=str[::-1]
if str==rev:
   print(str +" string is palindrome")
else:
   print(str +" string is not palindrome")

liril string is palindrome

## Tuples

In [ ]:
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [ ]:
my_tuple = 3, 4.6, "dog"
print(my_tuple)

# tuple unpacking is also possible
a, b, c = my_tuple

print(a)      # 3
print(b)      # 4.6
print(c)      # dog

(3, 4.6, 'dog')
3
4.6
dog

In [ ]:
# Membership test in tuple
my_tuple = ('a', 'p', 'p', 'l', 'e',)

# In operation
print('a' in my_tuple)
print('b' in my_tuple)

# Not in operation
print('g' not in my_tuple)

True
False
True

# Sets

In [ ]:
# Different types of sets in Python
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

In [ ]:
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

# we can make set from a list
# Output: {1, 2, 3}
my_set = set([1, 2, 3, 2])
print(my_set)

{1, 2, 3, 4}
{1, 2, 3}

# Dictionary

In [20]:
#empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}

# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}

# using dict()
my_dict = dict({1:'apple', 2:'ball'})

# from sequence having each item as a pair
my_dict = dict([(1,'apple'), (2,'ball')])

In [22]:
# get vs [] for retrieving elements
my_dict = {'name': 'Jack', 'age': 26}

# Output: Jack
print(my_dict['name'])

# Output: 26
print(my_dict.get('age'))

Jack
26

In [24]:
# Changing and adding Dictionary Elements
my_dict = {'name': 'Jack', 'age': 26}

# update value
my_dict['age'] = 27

#Output: {'age': 27, 'name': 'Jack'}
print(my_dict)

# add item
my_dict['address'] = 'Downtown'


print(my_dict)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [23]:
# Changing and adding Dictionary Elements
my_dict = {'name': 'Jack', 'age': 26}

# update value
my_dict['age'] = 27

#Output: {'age': 27, 'name': 'Jack'}
print(my_dict)

# add item
my_dict['address'] = 'Downtown'

# Output: {'address': 'Downtown', 'age': 27, 'name': 'Jack'}
print(my_dict)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

# Functions

In [25]:
def gcd(a, b):
    "greatest common divisor"
    while a != 0:
        a, b = b%a, a    # parallel assignment
    return b

In [26]:
gcd.__doc__

'greatest common divisor'

In [27]:
gcd(12,4)

4

In [ ]:
def isPalindrome(s): 
    return s == s[::-1] 
  
  
# Driver code 
s = "malayalam"
ans = isPalindrome(s) 
  
if ans: 
    print("Yes") 
else: 
    print("No")

Yes

# MOUDLES

In [28]:
import math 
print("The value of pi is", math.pi)

The value of pi is 3.141592653589793

In [30]:
from math import pi, e 
pi

3.141592653589793

In [32]:
e

2.718281828459045

In [36]:
import re
emailAddress = input()
e_var = "(\w+)@(\w+)\.(com)"
r2 = re.match(e_var ,emailAddress)
print(r2.group(2))

anbu@gmail.com
gmail

In [38]:
import sys
x = 42
x

42

In [41]:
import sys
def my_display(x):
     print ("out: ")
     print (x)

In [42]:
sys.displayhook = my_display